.border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vw;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px rgb(232, 2, 2);
    background: white;
    position: relative;
    fill: red;
}